body{
    
}

h1{
    background-color: greenyellow;
    text-align: center;
    font-size: 48px;
    font-family: Arial;
    color: red;
    padding: 10px;
    margin: 0px;
    border: 5px solid black;
}

p{
    
    color: purple;
    
}